<% if user_signed_in? || !user_signed_in? %>
  <% if post.liked_by?(current_user) %>
    <%= button_to post_likes_path(post), method: :delete, remote: true, class: "post_likes_button post_likes", form: { class: "post_likes", id: "like-btn#{post.id}" } do %>
      <p><%= post.likes.count %> いいね⭐️</p>
    <% end %>
  <% else %>
    <%= button_to post_likes_path(post), method: :post, remote: true, class: "post_likes_button post_likes", form: { class: "post_likes", id: "like-btn#{post.id}" } do %>
      <p><%= post.likes.count %> いいね⭐️</p>
    <% end %>
  <% end %>   
<% end %>
