<%= render "shared/header" %>
<div class="recipe-card-show">
  <div class="recipe-card">
    <%= image_tag @post.image.variant(resize: '260x260!'), class: 'item-image item-box-img' if @post.image.attached? %>
  </div>
</div>
<%= @post.title %>
<%= @post.description %>
