.preview-image {
  display: block;
  max-width: 100px;
  max-height: 100px;
  margin-top: 0.5rem;
}

.img-preview {
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #f8f8f8;
}