/* カード類の調整はindex.cssから */
.recipe-card-show {
  width: 1500px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
/* レシピのタイトルやテキストはnew.cssこの先は微調整 */
.recipe-card-show2 {
  width: 1500px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.show-text {
  top: 500px;
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.item-red-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-destroy {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}



