<!-- cssはindex.cssから使い回してます。 -->
<%= render "shared/header" %>
<div class='main'>
  <div class="recipe-new">投稿済み一覧</div>
  <div class="recipe-grid">
    <% @posts.each do |post| %>
      <div class="recipe-card">
        <%= link_to post_path(post) do %>
        <%= post.title %>
        <%= image_tag post.image.variant(resize: "260x260!"), class: 'post-image' if post.image.attached? %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
